* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    padding: 20px;

    background-color: #FF6900;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 12px;

    list-style-type: none;
    color: white;
    font-weight: bold;
}

nav .logo {
    height: 32px;
}

nav .icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav .icons img {
    width: 24px;
}

/* fine navbar */

/* main */
main .container {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    padding-top: 120px;

}

main .container .product {
    /* border: red solid 1px; */
    /* height: 300px; */
    /* test */

    position: relative;

    width: calc(33.33% - 20px);
    margin-bottom: 24px;

}

main .container .product img {
    width: 100%;
    margin-bottom: 4px;
}

main .container .product .brand {
    font-weight: 200;
    font-size: 14px;
}

main .container .product .name {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

main .container .product .price {
    font-weight: bold;
    font-size: 14px;
    color: red;
}

main .container .product .price-old {
    font-weight: 200;
    color: black;
    text-decoration: line-through;
}

main .container .product .tags {
    position: absolute;
    bottom: 100px;

}

main .container .product .tags .label {
    display: inline-block;
    padding: 4px 10px;

    font-size: 14px;
    font-weight: 400;
    color: white;
}

main .container .product .sale {
    background-color: red;
}

main .container .product .tags .green {
    background-color: green;
}

main .container .product .favourite {
    padding: 8px 15px;

    position: absolute;
    top: 10px;
    right: 0px;

    background-color: white;
    color: black;
}

main .container .product .favourite span {
    font-size: 24px;
}

/* fine main */
/* hover  */
main .container #first:hover img {
    content: url(../img/1b.webp);
}

main .container #second:hover img {
    content: url(../img/2b.webp);
}

main .container #third:hover img {
    content: url(../img/3b.webp);
}

main .container #fourth:hover img {
    content: url(../img/4b.webp);
}

main .container #fifth:hover img {
    content: url(../img/5b.webp);
}

main .container #sixth:hover img {
    content: url(../img/6b.webp);
}

/* fine hover immagini */

/* BONUS */
main .container .product .favourite:hover span {
    color: red;
}

main .container .product .favourite span {
    user-select: none;
}

/* fine BONUS */

/* footer */

/* fine footer */